.box{
  position: relative;
  background-color: #FFFF;
  width: 571px;
  height: 516px;
  border-radius: 10px;
  margin-top: 97px;
  margin-left: 434px;
  box-shadow : 3px 3px 3px 3px #0000001A;
}


.number{
  width: 571px;
  height: 98px;
  background-color: #4B89DC;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}
.numberproducer{ /*로또 번호 생성기*/
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #FFFF;
}
.producenumber{ /*행운의 번호를 생성해 보세요!*/
  font-size: 16px;
  color: #FFFF;
}

.Heading{ /*당첨 번호 생성*/
  margin-left: 20px;
  margin-top: 25px;
  Width:110px;
  height:21px;
  font-size: 18px;
  font-weight: bold;
}
.frame1{
  display:flex;
  width:507px;
  height:45px;
  margin-top:16px;
  margin-left:32px;
  gap: 32px;
}
.circle1,.circle2,.circle3,.circle4,.circle5,.circle6,.circle7{
  width:45px;
  height:45px;
  border-radius: 22.5px; 
  line-height: 45px;
  text-align: center; color:#FFFF; font-size: 20px;
}
.circle1{
  background-color: #FBC400;
}
.circle2{
  background-color: #69C8F2;
}
.circle3{
  background-color: #FF7272;
}
.circle4{
  background-color: #AAAAAA;
}
.circle5{
  background-color: #B0D840;
}
.circle6{
  background-color: #B49FFF;
}
.circle7{
  background-color: #FF7F48;
  position:relative;
  overflow:visible;
}
.star{
  position:absolute;
  right: 29px;
  width:20px;
  height:20px;
}
.produce-button{ /*번호 생성하기 버튼*/
  width: 531px;
  height: 40px;
  margin-top:25px;
  margin-left: 20px;
  background-color: #4B89DC;
  border-radius: 5px;
  line-height:40px;
  text-align: center; color:#FFFFFF;
  font-weight: bold;
}

.HorizontalBorder{ /*로또 구매하기,구매수량 박스*/
  width: 531px;
  height: 199px;
  margin-top: 30px;
  margin-left:20px;
  border-top: #EEEE 1px solid;
  display:flex;
  flex-direction: column;
}
.buying_lotto{ /*로또 구매하기*/
  height: 20px;
  margin-top: 23px;
  font-weight: bold;
  font-size: 18px;
}
.amount-inputbox{
  height: 40px;
  margin-top:17px;
  display:flex;
  align-items: center;
  gap: 1px;
}
.amount{
  font-size: 16px;
  width: 74px;
}
.input-box{
  height:37px;
  flex:1;
}
.text-box{
  width: 451px;
  height:37px;
}
.sum{
  height:17px;
  font-size: 16px;
  margin-top:11px;
}

.buy-button{ /*구매하기 버튼*/
  width: 531px;
  height: 40px;
  margin-top:23px;
  background-color: #4B89DC;
  border-radius: 5px;
  text-align: center; color:#FFFFFF;
  line-height:40px;
  font-weight: bold;
}